@tailwind base;
@tailwind components;
@tailwind utilities;

/* Importando la fuente */
@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
}
/* Aquí aplicamos a todo el html (toda la web) la fuente custom (que en este caso es la familia Montserrat) */
@layer base {
    html {
      @apply font-custom text-base lg:text-[1vw] xl:text-[0.8vw];
    }
  }


/* general */

/* clase que se usa para el registro e introducción de album e imagen */
.registroCaja {
	@apply text-center w-96 bg-white lg:border lg:border-gray-200 lg:rounded-lg lg:shadow-lg lg:shadow-gray-900/30 ;
};
.centrarHorizontal{
    @apply mx-auto;
}
.inputText {
    @apply border border-blue-800 rounded-xl px-1 drop-shadow focus:outline-none focus:ring-2 focus:ring-blue-500 placeholder:text-slate-400 placeholder:text-xs placeholder:top-0;
}
.imagenPerfilLateral {
    @apply h-20 w-20 rounded-full mt-2 mx-auto;
}
.textArea {
    @apply border border-blue-800 rounded-lg px-1 drop-shadow focus:outline-none focus:ring-2 focus:ring-blue-500;
}
.cajaTags {
    @apply border border-blue-800 rounded-lg py-2 drop-shadow;
}
.boton {
    @apply bg-blue-700  hover:bg-blue-800 text-white font-semibold rounded-xl py-1 px-2 cursor-pointer hover:scale-110 transition duration-200 ease-in-out;
}

.botonMas{
    @apply bg-blue-700 w-fit rounded-full p-4 hover:bg-blue-400 hover:scale-110 transition duration-200 ease-in-out;
}



/* landing */
/* lg */
@media (min-width: 1024px) {
    .bg-image-login-show {
        background-image: url(../assets/img/polaroid_frame.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 800px;
    }
}

/* menu lateral */

.menuOpciones {
	@apply flex flex-col items-center lg:gap-y-[10%] lg:col-span-1 lg:h-screen border-r border-blue-800 overflow-x-hidden;
}

.opcionesHome {
    @apply  lg:flex lg:items-center w-1/2 lg:w-full flex-col lg:h-full lg:gap-y-2 lg:relative lg:row-span-6;
}

.botonOpciones {
    @apply flex items-center cursor-pointer mt-2 text-lg rounded-full w-[80%] hover:bg-blue-600 hover:text-white hover:font-semibold hover:scale-110 transition duration-200 ease-in-out;
}
.botonOpciones i{
    @apply ml-2 w-8 lg:w-12;
}

.botonOpcionesSeleccionado {
    @apply bg-blue-600 text-white scale-110 font-semibold;
}

.botonCerrarSesion{
    @apply  w-full lg:w-1/2 self-center mt-4 lg:mt-auto mb-2;
}
/* cards */

.albumCard {
    @apply bg-blue-600 pt-1 flex flex-col justify-center items-center rounded-md w-[90%] lg:w-1/5 lg:h-48 text-white font-semibold hover:text-black hover:bg-blue-400 text-center hover:scale-105 transition duration-200 ease-in-out;
}

.albumCardImagen{
    @apply flex w-full h-[90%];
}

.albumCardImagen img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imagenCard {
    @apply bg-blue-600 pt-1 flex flex-col justify-center items-center rounded-md w-[90%] lg:w-1/5 lg:h-48 text-white font-semibold hover:text-black hover:bg-blue-400 text-center hover:scale-105 transition duration-200 ease-in-out;
}

.imagenCardImagen {
    @apply flex w-full h-[90%];
}

.imagenCardImagen img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}